%li.message{class: ("log" if message.log_message?)}
  %span.name= "#{message.name}#{":" unless message.log_message?}"
  = message.text
  %span.timestamp= "(#{time_ago_in_words(message.created_at)} ago)"