= render "shared/flash_messages"
  
#person_form
  = form_for person do |f|
    = render "shared/error_messages", object: f.object
    = f.label          :name, "Name:"
    = f.text_field     :name
    %br/
    = f.label          :email, "Email:"
    = f.text_field     :email
    %br/
    = f.label          :email_me, "Email notifications?"
    = f.check_box      :email_me
    - if signed_in? && current_user.admin?
      %br/
      = f.label          :owes, "Currently owes:"
      = f.number_field   :owes, step: :any
      %br/
      = f.label          :admin, "Admin?"
      = f.check_box      :admin
    - if person.new_record?
      = f.hidden_field :password
    - else
      %br/
      = f.label          :password, "Password:"
      = f.password_field :password
      %br/
      = f.label          :password_confirmation, "Confirm Password:"
      = f.password_field :password_confirmation
    %br/
    = f.submit button_text

- flash[:error] = flash[:notice] = nil
