- title "new person"

%p{style: "font-weight: bold"}
  Rent is split equally between all people in the database.
  %br/
  Only create a new person if he/she will be contributing to the rent.

%p
  - if flash[:notice]
    .notice= flash[:notice]
  - if flash[:error]
    .error= flash[:error]
    
- if @person.errors.any?
  %ul.new_person_errors
  - for message_error in @person.errors.full_messages
    %li= message_error
  
.new_person
  %h1 New Person:
  = form_for @person do |f|
    Name: 
    = f.text_field :name
    %br/
    Email: 
    = f.text_field :email
    %br/
    Password: 
    = f.password_field :password
    %br/
    Confirm Password: 
    = f.password_field :password_confirmation
    %br/
    = f.submit "Create"
      
  - flash[:error] = flash[:notice] = nil

%p
  = link_to "Admin Panel", admin_path
  |
  = link_to "Home", root_path