= render "shared/flash_messages"

#bill_form
  = form_for bill do |f|
    = render "shared/error_messages", object: f.object
    = f.label          :owed, "Amount due:"
    = f.number_field   :owed
    %br/
    = f.label          :late, "Late?"
    = f.check_box       :late
    %br/
    = f.submit "Save changes"

- flash[:error] = flash[:notice] = nil
