- title "home"

%p
  - if flash[:notice]
    .notice= flash[:notice]
  - if flash[:error]
    .error= flash[:error]

%h1#amount_owed= "We owe #{number_to_currency(Bill.sum(:owed), unit: "$")}."

%ul#amounts_owed= render @people

%ul#messages= render @messages