- title "home"

= render "shared/flash_messages"

%h1#amount_owed
  = "We owe #{number_to_currency(Bill.sum(:owed), unit: "$")}."
  - if signed_in? && current_user.admin?
    %small
      [
      = link_to "edit", bills_path
      ]

%ul#amounts_owed= render @people

%ul#messages= render @messages

= render "messages/form" if signed_in?

- flash[:error] = flash[:notice] = nil
