= javascript_tag do
  window.totalAmountOwed = "#{number_to_currency(current_user.owes, unit: '$')}";

= form_for @payment do |f|
  .field= f.hidden_field :person_id, value: current_user.id
  .field= f.hidden_field :amount
  .actions= f.submit "OK, I've paid"
