%header.navbar
  = link_to "spacerent", root_path, id: "logo"
  %nav
    - if signed_in?
      %span{style: "font-weight: bold"}= link_to current_user.name, current_user
      |
      = link_to "settings", edit_person_path(current_user)
      - if current_user.admin?
        |
        = link_to "admin panel", admin_path
      |
      = link_to "logout", logout_path, method: :delete
    - else
      = render "sessions/login"